<h1>Sign In</h1>

<%= form_for @user, {url: session_path, method: :post} do |f| %>

  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit "Log in" %>
<% end %>