<div class="container-fluid jumbo_wrapper">

  <div class="jumbotron welcome_background">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 bg-primary welcome_msg">
        <h1 class="lighter_font">touchPOINT</h1>
        <h3 class="subhead">Keeping you connected.</h3>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="text-primary action_buttons centered">
              <a href="/users/new" class="btn btn-primary btn-lg" role="button">Sign Up</a>
              <a href="/session/new" class="btn btn-primary btn-lg" role="button">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>