<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="lighter_font text-center">Edit this <span class="text-primary">touchPOINT</span> for <%= @touch.contact.full_name %></h1>
    </div>

    <div class="col-sm-10 col-sm-offset-1">
      <%= render 'touchform' %>
    </div>    
  </div>
</div>