// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lighter_font {
  font-weight: lighter;
}

.date_header {
  margin-top: -25px;

  h1 {
    font-size: 150px;
    margin-left: -15px;
  }

  h3 {
    margin-top: -25px;
  }
}

.week_of {
  margin-top: 30px;
}

.table_row {
  cursor: pointer;
}

.form_styles {
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  margin-top: 20px;
  padding: 10px;
}