// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lighter_font {
  font-weight: lighter;
}

.date_header {
  margin-top: -45px;

  h1 {
    font-size: 150px;
    margin-left: -15px;
  }

  h3 {
    margin-top: -25px;
  }
}

.nav-tabs > li > a {
  width: 155px;
  text-align: center;
}

.main_content {
  margin-top: 10px;
}

.dashboard {
  margin-top: -1px;
}

.cursor_pointer {
  cursor: pointer;
}

.table_row {
  cursor: pointer;
}

.form_styles {
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  margin-top: 20px;
  padding: 10px;
}

.contacts {
  margin-top: 20px;

  .contact_box {
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    margin: 5px 5px;
    padding: 10px;
    width: 32%;
    cursor: pointer;
  }
    .contact_info {
      padding: 20px;
    }
}

